* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/*Color and content options*/
body{
	height: 100vh;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	Background: linear-gradient(rgb(47,62,143), rgb(48,62,143));
	font-family: sans-serif;
	color: white;
}

/*Location content options*/
.location, .temperature {
	height:30vh;
	width: 50%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

/*Temperature content options*/
.temperature{
	flex-direction: column;
}

/*Degree content options*/
.degree-section {
	display: flex;
	align-items: center;
	cursor: pointer;
}

.degree-section span{
	margin: 10px;
	font-size: 30px;
}

.degree-section h2 {
	font-size: 40px;

}